.navLogo {
    /* background-color: antiquewhite; */
    /* margin-right: 50px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* width: 100%; */
}

.logoLink {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
}

