.dropdown_menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
    width: 150px;
}

.navItem:hover .dropdown_menu {
    display: block;
}

.dropdown_item {
    padding: 10px;
    cursor: pointer;
}

.dropdown_item:hover {
    background-color: #f4f4f4;
}
